RoutingServer/Connected Services/ProxyCacheServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCacheServer/ProxyCacheService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedModels.models" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCacheServer/ProxyCacheService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfItineraryInstructions5y9Wh95M">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Itinerary" Namespace="http://schemas.datacontract.org/2004/07/SharedModels.models" />
          <GenericParameter Name="Instructions" Namespace="http://schemas.datacontract.org/2004/07/SharedModels.models" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedModels.models" name="Item1" nillable="true" type="q1:Itinerary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedModels.models" name="Item2" nillable="true" type="q2:Instructions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfItineraryInstructions5y9Wh95M" nillable="true" type="tns:ValueTupleOfItineraryInstructions5y9Wh95M" />
</xs:schema>