RoutingServer/Connected Services/ProxyCacheServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCacheServer/ProxyCacheService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedModels.models" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProxyCacheServer/ProxyCacheService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedModels.models" minOccurs="0" name="GetContractsResult" nillable="true" type="q1:ArrayOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedModels.models" minOccurs="0" name="GetStationsResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedModels.models" minOccurs="0" name="GetGeocodeResult" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startLat" type="xs:double" />
        <xs:element minOccurs="0" name="startLon" type="xs:double" />
        <xs:element minOccurs="0" name="endLat" type="xs:double" />
        <xs:element minOccurs="0" name="endLon" type="xs:double" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetRouteResult" type="q4:ValueTupleOfItineraryInstructions5y9Wh95M" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedModels.models" minOccurs="0" name="GetAllStationsResult" nillable="true" type="q5:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>